:root {
    --bacground-image: url("https://images.unsplash.com/photo-1706480883977-355f55e39342?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

/*  Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    /* 1rem = 10px */
    background-image: var(--bacground-image);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh; /* Esto asegura que el body ocupe toda la altura del viewport */
}

/* --- */

.btn {
    height: 4em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0px solid black;
    cursor: pointer;
  }
  
  .wrapper {
    height: 2em;
    width: 8em;
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    font-size: 17px;
    z-index: 1;
    color: #000;
    padding: 4px 12px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.5s ease;
  }
  
  .flower {
    display: grid;
    grid-template-columns: 1em 1em;
    position: absolute;
    transition: grid-template-columns 0.8s ease;
  }
  
  .flower1 {
    top: -12px;
    left: -13px;
    transform: rotate(5deg);
  }
  
  .flower2 {
    bottom: -5px;
    left: 8px;
    transform: rotate(35deg);
  }
  
  .flower3 {
    bottom: -15px;
    transform: rotate(0deg);
  }
  
  .flower4 {
    top: -14px;
    transform: rotate(15deg);
  }
  
  .flower5 {
    right: 11px;
    top: -3px;
    transform: rotate(25deg);
  }
  
  .flower6 {
    right: -15px;
    bottom: -15px;
    transform: rotate(30deg);
  }
  
  .petal {
    height: 1em;
    width: 1em;
    border-radius: 40% 70% / 7% 90%;
    background: linear-gradient(#07a6d7, #93e0ee);
    border: 0.5px solid #96d1ec;
    z-index: 0;
    transition: width 0.8s ease, height 0.8s ease;
  }
  
  .two {
    transform: rotate(90deg);
  }
  
  .three {
    transform: rotate(270deg);
  }
  
  .four {
    transform: rotate(180deg);
  }
  
  .btn:hover .petal {
    background: linear-gradient(#0761d7, #93bdee);
    border: 0.5px solid #96b4ec;
  }
  
  .btn:hover .flower {
    grid-template-columns: 1.5em 1.5em;
  }
  
  .btn:hover .flower .petal {
    width: 1.5em;
    height: 1.5em;
  }
  
  .btn:hover .text {
    background: rgba(255, 255, 255, 0.4);
    
  }


  
  
  .btn:hover div.flower1 {
    animation: 15s linear 0s normal none infinite running flower1;
  }
  
  @keyframes flower1 {
    0% {
      transform: rotate(5deg);
    }
  
    100% {
      transform: rotate(365deg);
    }
  }
  
  .btn:hover div.flower2 {
    animation: 13s linear 1s normal none infinite running flower2;
  }
  
  @keyframes flower2 {
    0% {
      transform: rotate(35deg);
    }
  
    100% {
      transform: rotate(-325deg);
    }
  }
  
  .btn:hover div.flower3 {
    animation: 16s linear 1s normal none infinite running flower3;
  }
  
  @keyframes flower3 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .btn:hover div.flower4 {
    animation: 17s linear 1s normal none infinite running flower4;
  }
  
  @keyframes flower4 {
    0% {
      transform: rotate(15deg);
    }
  
    100% {
      transform: rotate(375deg);
    }
  }
  
  .btn:hover div.flower5 {
    animation: 20s linear 1s normal none infinite running flower5;
  }
  
  @keyframes flower5 {
    0% {
      transform: rotate(25deg);
    }
  
    100% {
      transform: rotate(-335deg);
    }
  }
  
  .btn:hover div.flower6 {
    animation: 15s linear 1s normal none infinite running flower6;
  }
  
  @keyframes flower6 {
    0% {
      transform: rotate(30deg);
    }
  
    100% {
      transform: rotate(390deg);
    }
  }
  
/* Agrega un estilo de enfoque personalizado para los botones */
.btn:focus {
    outline: none ; /* Anula el estilo de enfoque predeterminado de Bootstrap */
    box-shadow: none ; /* Anula cualquier sombra predeterminada de Bootstrap */
}


  
/* --- */
  

/* Distribución */
.flex-column{
    display: flex;
    /* flex-direction: column; */
    align-items: center; /*Centra en lo horizontal*/
    justify-content: center; /*Centra en lo vertical*/
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center; /*Centra en lo horizontal*/
    justify-content: center; /*Centra en lo vertical*/
}

 /* Modificar el margen entre las columnas */
 .separador .row.no-gutters [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}

/*Contenedores*/
.contenedor {
    min-width: 60rem;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 5rem;
}

/*Formulario*/
fieldset{
   border: none;
}

legend {
    text-align: center;
    margin: 2rem;
}

.entrada{
    background: transparent;
    /* width: 100%; */
    border: none; /* Elimina los bordes predeterminados */
    border-bottom: 2px solid black; /* Establece la línea de abajo */
    box-sizing: border-box; /* Asegura que el ancho incluya el relleno y el borde */
    padding: 1rem;
    margin-top: 2rem;
}

.entrada:focus {
    outline: none; /* Elimina el contorno cuando el campo está enfocado */
}

.contenedor input {
    /* Estilos para todos los inputs dentro del formulario */
    width: 100%;
}

/* Estilos para todos los select dentro del formulario con la clase "contenedor" */
.contenedor select {
    width: 100%;
    /* margin-right: .5rem; */
    padding: 0; 
}

 /* Estilos para el input de tipo teléfono */
.separador input[type="tel"] {
    width: 100%;
    padding: 0;
    /* margin: 0; */
    
}

/* Estilos para el textarea*/
.contenedor textarea {
    /* background-color: black; */
    width: 100%;
    height: 8rem;
    /* border: 2px solid black; */
}

/* Estilos para el separador de los inputs */
.separador {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* Tipografia */
legend {
    font-weight: 800;
    font-size:x-large;
}

label {
    font-weight: 400;
}


/*Media Querys*/
@media (width <= 400px){
    body {
        /* background-image: none; */
        margin-top: 3rem;
        margin-bottom: 3rem;
        
    }
    .contenedor {
        max-width: 80%;
        max-height: 108%;
        overflow: auto;
    }
}


@media (width <= 599px){
   /*Contenedores*/
.contenedor {
    min-width: 20rem;
    padding: 3.5rem;
    margin: auto;
}

legend {
    text-align: center;
    /* color: white; */
    padding: auto;
    margin: auto;
}

}

