:root {
    --bacground-image: url("https://images.unsplash.com/photo-1545665277-5937489579f2?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --landing-page-image: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?q=80&w=2673&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --form-image: url("https://images.unsplash.com/photo-1434030216411-0b793f4b4173?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --login-image: url("https://images.unsplash.com/photo-1584433144859-1fc3ab64a957?q=80&w=2830&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

/*  Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    background-image: var(--bacground-image);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* margin: 0 auto; */
    margin: 0;
    height: 100vh; /* Esto asegura que el body ocupe toda la altura del viewport */
    text-align: center;
}


img {
    
    border-radius: 50%;
    width: 5%;
    height: auto;
}

/*Contenedores*/
.contenedor {
    width: 120rem;
    /* margin: 0 auto; */
    /* background-color: red; */
    padding: 2rem;

    background-color: rgba(0, 0, 0, 0.5);
   
}

.separador {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.carousel-item {
    height: 40rem; /* ajusta la altura según sea necesario */
    background-size: cover;
    background-position: center;
    
   
  }

  /* Enlaces estilizados dentro del carrusel */
  .carousel-item a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: var(--landing-page-image);
    background-size: cover; 
    background-position: center;
    border-radius: 10px;
  
  }

  .carousel-item:nth-child(2) > a {
    /* Estilos para el enlace dentro del segundo elemento del carrusel */
    background-image: var(--form-image);
  }

  .carousel-item:nth-child(3) > a {
    /* Estilos para el enlace dentro del segundo elemento del carrusel */
    background-image: var(--login-image);
  }


  
  .carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo de las flechas */
  width: 50px; /* Ancho de las flechas */
  height: 50px; /* Altura de las flechas */
  border-radius: 50%; /* Forma circular para las flechas */
  top: 50%; /* Alineación vertical al centro */
  transform: translateY(-50%); /* Ajuste para centrar verticalmente */
}

.carousel-control-prev {
  left: -25px; /* Posición izquierda de la flecha previa */
}

.carousel-control-next {
  right: -25px; /* Posición derecha de la flecha siguiente */
}

.carousel-item h3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo */
    width: 30%; /* Ancho del fondo del título */
    text-align: center; /* Centra el texto horizontalmente */
    font-size:large; /* Ajusta el tamaño del texto según sea necesario */
    border-radius: 10px;
}






/* Distribución */
.flex-column{
    display: flex;
    /* flex-direction: column; */
    align-items: center; /*Centra en lo horizontal*/
    justify-content: center; /*Centra en lo vertical*/
}

/* Tipografia */
h1 {
    font-size: 3.8rem;
    color: white;
    margin: 2rem;
}

h2 {
    font-size: 2rem;
    color: white;
    /*color: var(--marron);
    background-color: var(--naranja);
    text-transform: uppercase;*/
    margin-bottom: 3rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}


@media (width <= 599px){


    /*Contenedores*/
.contenedor {
    width: auto;
    /* margin: 0 auto; */
    /* background-color: red; */
   
}

img {
    
    border-radius: 50%;
    width: 10%;
    height: auto;
}

 
 }

 @media (768px <= width <= 1024px){
    .contenedor {
        width: auto;
        /* margin: 0 auto; */
        /* background-color: red; */
       
    }
 }